*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  padding: 50px;
  text-align: center;
}
h1{
  font-size: 70px;
  color: #D33400;
}
.container{
  background-color: #fef9f3;
  padding: 30px;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border: 3px solid pink;
  border-radius: 5px;
}
.todo_list li{
  color: #fef9f3;
  width: 200px;
  padding: 10px;
  background-color: #D33400;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.todo_list-delete{
  cursor: pointer;
  margin-left: 10px;
}
.input_text,
.todo_list{
  width: 50%;
}
.btn{
  width: 50%;
  margin: 20px auto;
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #fef9f3;
  padding: 10px;
  background-color: #D33400;
  border-radius: 15px;
  border: 1px solid pink;
  outline: none;
  cursor: pointer;
}
#add_list{
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: 1px solid #D33400;
}
label{
  color: #D33400;
}

.template{
  display: none;
}
