*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  padding: 50px;
}
.container{
  background-color: #fef9f3;
  padding: 30px;
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border: 3px solid pink;
  border-radius: 5px;
}
.todo_list li{
  color: #fef9f3;
  width: 200px;
  padding: 10px;
  background-color: #D33400;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.todo_list-delete{
  cursor: pointer;
  margin-left: 10px;
}

#remove_last{
  padding: 5px;
  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid grey;
  outline: none;
  cursor: pointer;
}
.template{
  display: none;
}
